<h3>Trainer</h3>

<h4>Profile Information</h4>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% if @trainer == current_trainer %>
<%= button_to "Create Pokemon!", new_pokemon_path, :class => "button medium", :method => :get %>
<% end %>

<h4>Captured Pokemon</h4>
<table>
  <tr>
    <td style="width: 100px"><b>ID</b></td>
    <td style="width: 250px"><b>Name</b></td>
    <td style="width: 100px"><b>Level</b></td>
    <td style="width: 100px"><b>Health</b></td>
    <td></td>
  </tr>

<% @trainer.pokemons.each do |p| %>
  <tr>
    <td><%= p.id.to_s %></td>
    <td><%= p.name %></td>
    <td><%= p.level.to_s %></td>
    <td><%= p.health.to_s %></td>
    <td><%= button_to "Damage!", damage_path(id: p), :class => "button small", :method => :patch %></td>
  </tr>
<% end %>

</table>

<p><%= link_to "< Return home", root_path %></p>
