<h3>Trainer</h3>

<h4>Profile Information</h4>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% if @trainer == current_trainer %>
<%= button_to "Create Pokemon!", new_pokemon_path, :class => "button medium", :method => :get %>
<% end %>

<h4>Captured Pokemon</h4>
<table>
  <tr>
    <td style="width: 100px"><b>ID</b></td>
    <td style="width: 250px"><b>Name</b></td>
    <td style="width: 100px"><b>Level</b></td>
    <td style="width: 100px"><b>Health</b></td>
    <td></td>
    <% if @trainer == current_trainer %>
    <td></td>
    <% end %>
  </tr>

<% @trainer.pokemons.each do |p| %>
  <% if @trainer == current_trainer or p.health > 0 %>
  <tr>
    <td><%= p.id.to_s %></td>
    <td><%= p.name %></td>
    <td><%= p.level.to_s %></td>
    <td><% if p.health <= 0 %><span style="color: red"><% end %><%= p.health.to_s %><% if p.health <= 0 %></span><% end %></td>
    <td><%= button_to "Damage!", damage_path(id: p), :class => "button small", :method => :patch %></td>
    <% if @trainer == current_trainer %>
    <td><%= button_to "Heal!", heal_path(id: p), :class => "button small", :method => :patch %></td>
     <% end %>
  </tr>
  <% end %>
<% end %>

</table>

<p><%= link_to "< Return home", root_path %></p>
